<div class="centered-content">
	<div class="white-box">
		<h1 class="title has-text-primary">Forget Password</h1>
		<form [formGroup]="forgotPasswordRequestForm" (ngSubmit)="onSubmit()">
			<div class="field">
				<p class="control has-icons-left has-icons-right">
					<input formControlName="email" class="input has-background-light" type="email" placeholder="Email">
					<span class="icon is-small is-left">
						<i class="fas fa-envelope"></i>
					</span>
				</p>
			</div>

			<div
				*ngIf="forgotPasswordRequestForm.controls.email.invalid && (forgotPasswordRequestForm.controls.email.dirty || forgotPasswordRequestForm.controls.email.touched)"
				class="is-dark" style="padding: 0 0 10px;">
				<p *ngIf="forgotPasswordRequestForm.controls.email.errors.required">
					Email is required.
				</p>
				<p *ngIf="forgotPasswordRequestForm.controls.email.errors.email">
					Please check email address.
				</p>
			</div>

			<div class="error-text" *ngIf="error" style="margin: 15px 0;">
				<p>{{error?.error.err}}</p>
			</div>
			<div class="error-text" *ngIf="message" style="margin: 15px 0; color: #333">
				<p>{{message?.message}}</p>
			</div>

			<div class="field" style="display: flex; justify-content: center;">
				<p class="control">
					<button class="button is-primary has-text-white" [disabled]="!forgotPasswordRequestForm.valid">
						Reset
					</button>
				</p>
			</div>
		</form>
	</div>
</div>