<div class="centered-content">
    <div class="main-view" style="min-height: 70%;">
        <p>
            This app is used to demonstrate how the angular guard is implemented on
            a basic login, signup, forget password and a simple dashboard app.
            <br><br>
            Some of the links of this app: 
        </p>
        <ol>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
            <!-- <li><a routerLink="/forgot-password">Forget Password</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li> -->
        </ol>
    </div>
</div>