<div class="centered-content">
	<div class="white-box">
		<h1 class="title has-text-primary">Change Password</h1>
		<form [formGroup]="forgotPasswordChangeForm" (ngSubmit)="onSubmit()">
			<div class="field">
				<p class="control has-icons-left has-icons-right">
					<input formControlName="password" class="input has-background-light" type="password" placeholder="New Password">
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</p>
			</div>

			<div
				*ngIf="forgotPasswordChangeForm.controls.password.invalid && (forgotPasswordChangeForm.controls.password.dirty || forgotPasswordChangeForm.controls.password.touched)"
				class="is-dark" style="padding: 0 0 10px;">
				<p *ngIf="forgotPasswordChangeForm.controls.password.errors.required">
					Password is required.
				</p>
				<p *ngIf="forgotPasswordChangeForm.controls.password.errors.minlength">
					Password must be at least 8 char long.
				</p>
			</div>

            <div class="field">
				<p class="control has-icons-left has-icons-right" [ngClass]="setClassPasswordConfirm()">
					<input formControlName="passwordConfirm" class="input has-background-light" type="password" placeholder="Confirm Password">
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</p>
			</div>

			<div
				*ngIf="forgotPasswordChangeForm.controls.passwordConfirm.invalid && (forgotPasswordChangeForm.controls.passwordConfirm.dirty || forgotPasswordChangeForm.controls.passwordConfirm.touched)"
				class="is-dark" style="padding: 0 0 10px;">
				<p *ngIf="forgotPasswordChangeForm.controls.passwordConfirm.errors.required">
					Confirm password is required.
				</p>
				<p *ngIf="forgotPasswordChangeForm.controls.passwordConfirm.errors.minlength">
					Password must be at least 8 char long.
				</p>
			</div>

			<div class="error-text" *ngIf="error" style="margin: 15px 0;">
				<p>{{error?.error.err}}</p>
			</div>

			<div class="field" style="display: flex; justify-content: center;">
				<p class="control">
					<button class="button is-primary has-text-white" [disabled]="!forgotPasswordChangeForm.valid">
						Change
					</button>
				</p>
			</div>
		</form>
        <div class="error-text" *ngIf="message" style="margin: 15px 0; color: #333">
            <p>{{message?.message}}</p>
        </div>
	</div>
</div>