<div class="centered-content">
	<div class="white-box">
		<h1 class="title has-text-primary">Login</h1>
		<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
			<div class="field">
				<p class="control has-icons-left has-icons-right">
					<input formControlName="email" class="input has-background-light" type="email" placeholder="Email">
					<span class="icon is-small is-left">
						<i class="fas fa-envelope"></i>
					</span>
				</p>
			</div>

			<div
				*ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
				class="is-dark" style="padding: 0 0 10px;">
				<p *ngIf="loginForm.controls.email.errors.required">
					Email is required.
				</p>
				<p *ngIf="loginForm.controls.email.errors.email">
					Please check email address.
				</p>
			</div>

			<div class="field">
				<p class="control has-icons-left">
					<input formControlName="password" class="input has-background-light" type="password" placeholder="Password"
						minlength="8">
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</p>
			</div>

			<div
				*ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
				class="is-dark" style="padding: 0 0 10px;">
				<p *ngIf="loginForm.controls.password.errors.required">
					Password is required.
				</p>
				<p *ngIf="loginForm.controls.password.errors.minlength">
					Password must be at least 8 char long.
				</p>
			</div>

			<div style="display: flex; justify-content: flex-end; margin: 10px 0;">
				<a routerLink="/forgot-password">Forget Password</a>
			</div>

			<div class="field" style="display: flex; justify-content: center;">
				<p class="control">
					<button class="button is-primary has-text-white" [disabled]="!loginForm.valid">
						Login
					</button>
				</p>
			</div>
		</form>
		<div class="error-text" *ngIf="error">
			<p>{{error?.error.err}}</p>
		</div>
		<p class="has-text-grey" style="margin-top: 15px;">Not got an account? <a routerLink="/signup">Sign up</a> now!</p>
	</div>
</div>